h2database.mv.db
.idea
.vscode

backend/src/test
backend/.idea
backend/target
backend/.settings
backend/.classpath
backend/h2database.mv.db
backend/h2database.trace.db
backend/application.log
backend.project

frontend/angular/node_modules
frontend/angular/dist

postgres_data

resources
h2database.trace.db
application.log**

backend_PUBLISAIZ.log
h2databaseNew.mv.db
h2databaseNew.trace.db

application.log