<app-article #articleComponent (event)="refreshAll()" [article]="article"></app-article>

<div class="row">
    <div class="col-6">
        <div class="col-12">
            <h2>ARTICLES</h2>
        </div>
        <pagination [maxSize]="5"  [boundaryLinks]="true" [itemsPerPage]="articlesPerPage"
            [totalItems]="articlesTotalItems"
            [(ngModel)]="articlesPage"
            (pageChanged)="refreshArticles($event)">
        </pagination>
        <div class="row">
            <div *ngFor="let article of articles" class="col-4">
                <a (click)="loadArticle(article.link)" routerLink="/cms/articles/{{article.link}}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{article.title}}
                        </div>
                        <img class="img img-responsive" src="{{environment.apiUrl+article.image}}"/>
                        <div class="panel-body" [innerHTML]="article.content | stripTags | truncate: 20: '...': true">

                        </div>
                        <div class="panel-footer">
                            blog/{{article.link}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-12">
            <h2>IMAGES</h2>
        </div>
        <pagination [maxSize]="5" [boundaryLinks]="true" [itemsPerPage]="imagesPerPage" [totalItems]="imagesTotalItems"
            [(ngModel)]="imagesPage"
            (pageChanged)="getImages($event)">
        </pagination>
        <div class="col-12">
            <app-files (setFeaturedEventEmitter)="updateArticle($event)"
                (deleteImageEventEmitter)="getImages()" [images]="images">
            </app-files>
        </div>
    </div>
</div>